.pytest_cache/
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/
docs/_build/
azureml/config.env

azureml/.environment_tmp.yml

# Ignore artificially generated fake data files
fake_daily_rainfall/
fake_daily_rainfall_2/
test_data/fake/

# Ignore image subsets assembled for consensus training
consensus_data/

# Ignore model outputs
outputs/